* {
  font-family: -apple-system, 'Source Sans Pro', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
  font-size: 15px;
  color: #4c555a;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  line-height: 1;
  display: flex;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

nav {
  border-right: 1px solid #f0f4f7;
  background-color: #fafcfc;
  max-width: 200px;
  min-height: 100%;
  position: fixed;
  height: 100%;
  flex: 1 25%;
  z-index: 9;
}

nav .logo {
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #f0f4f7;
  letter-spacing: 2px;
  text-align: center;
  line-height: 69px;
  max-width: 200px;
  font-size: 18px;
  display: block;
  width: 100%;
  flex: 1 25%;
}

nav .logo img {
  vertical-align: middle;
  max-width: 50%;
}

nav a {
  padding: 0 20px 0 20px;
  text-decoration: none;
  line-height: 40px;
  font-size: 16px;
  display: block;
}

nav a:hover {
  text-decoration: underline;
  color: #292e31;
}

nav ul ul a {
  font-size: 97.5%;
}

nav ul ul ul a {
  font-size: 95%;
}

nav #toc {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  flex: 1 25%;
}

nav a.active,
nav a.active:hover {
  text-decoration: none;
  color: #0099e5;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul ul {
  padding-left: 15px;
}

main {
  background-color: #fff;
  position: relative;
  margin-left: 196px;
  flex: 1 75%;
}

.content {
  padding-bottom: 70px;
  position: relative;
  z-index: 5;
}

.content > h1,
.content > h2,
.content > h3,
.content > h4,
.content > h5,
.content > h6,
.content > p,
.content > table,
.content > ul,
.content > ol,
.content > aside,
.content > dl {
  box-sizing: border-box;
  margin-right: 55%;
  padding: 0 34px;
  display: block;
}

.content p,
.content li,
.content dt,
.content dd {
  line-height: 1.6;
  margin-top: 0;
}

.content h1 {
  border-top: 1px solid #f0f4f7;
  padding-bottom: 0.5em;
  margin-bottom: 21px;
  padding-top: 70px;
  line-height: 32px;
  font-size: 24px;
  margin-top: 2em;
  color: #292e31;
}

.content h1:first-child,
.content div:first-child + h1 {
  border-top-width: 0;
  margin-top: 0;
}

.content h2 {
  line-height: 28px;
  font-size: 20px;
}

.content h3 {
  line-height: 24px;
  font-size: 18px;
}

.content h4 {
  line-height: 22px;
  font-size: 16px;
}

.content h5 {
  line-height: 20px;
  font-size: 14px;
}

.content > ul {
  padding-left: 54px;
}

.content table {
  margin-bottom: 1em;
  overflow: auto;
}

.content table tbody td {
  border-bottom: 1px solid #f0f4f7;
}

.content table tbody tr:last-child td {
  border-bottom: 1px solid #e1e8ed;
}

.content table th,
.content table td {
  vertical-align: top;
  line-height: 1.6;
  text-align: left;
}

.content table th {
  border-bottom: 1px solid #e1e8ed;
  vertical-align: bottom;
  padding: 5px 10px;
  font-size: 15px;
}

.content table td {
  font-size: 14px;
  padding: 10px;
}

.content blockquote {
  background-color: #2d3134;
  box-sizing: border-box;
  padding: 2em 34px;
  color: #dde4e8;
  float: right;
  clear: right;
  width: 55%;
  margin: 0;
}

.content blockquote > p {
  background-color: #2d3134;
  color: #d0d4d7;
  padding: 0px;
}

.content blockquote code {
  font-size: 15px;
}

.content code,
.content pre {
  font-family: Menlo, Monaco, Consolas, 'Lucida Console', 'Liberation Mono',
    monospace, serif !important;
  line-height: 1.5em;
  font-size: 13px;
}

.content pre {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #dde4e8;
  float: right;
  clear: right;
  z-index: 10;
  width: 55%;
  margin: 0;
}

.content code {
  background-color: rgba(0, 0, 0, 0.05);
  word-break: break-word;
  hyphens: auto;
  padding: 3px;
}

.content p > code {
  border: 1px solid #f0f4f7;
  display: inline-block;
  background: #fafcfc;
  border-radius: 4px;
  line-height: 20px;
  font-size: 13px;
  padding: 0 5px;
  color: #b93d6a;
}

.content pre > code {
  padding: 2em 34px !important;
  background-color: #272b2d;
  margin: 0 0 30px;
  color: #dde4e8;
  display: block;
}

.content a {
  color: #0099e5;
}

.content aside {
  border-bottom: 1px solid #f0f4f7;
  border-top: 1px solid #f0f4f7;
  text-shadow: 0 1px 0 #c6dde9;
  margin-bottom: 1.5em;
  background: #fafcfc;
  padding-bottom: 1em;
  margin-top: 1.5em;
  padding-top: 1em;
  line-height: 1.6;
}

.content aside:before {
  background-color: #4c555a;
  vertical-align: middle;
  display: inline-flex;
  margin-right: 0.5em;
  border-radius: 50%;
  text-align: center;
  content: '\000021';
  line-height: 14px;
  font-size: 14px;
  padding: 0 5px;
  color: #fafcfc;
}

main .code {
  background-color: #2d3134;
  position: absolute;
  width: 55%;
  bottom: 0;
  right: 0;
  top: 0;
}

main .language {
  background-color: #242729;
  padding-left: 34px;
  position: fixed;
  display: flex;
  padding: 16px;
  width: 100%;
  z-index: 10;
  margin: 0;
}

main .language a {
  border: 1px solid transparent;
  text-transform: capitalize;
  text-decoration: none;
  display: inline-flex;
  border-radius: 4px;
  line-height: 29px;
  font-weight: bold;
  margin-left: 4px;
  padding: 0 10px;
  font-size: 13px;
  color: #d0d4d7;
}

main .language a:hover {
  border: 1px solid #373b3e;
}

main .language a.active {
  background: linear-gradient(180deg, #5abaf0, #4aafed);
  border: 1px solid transparent;
  color: #fff;
}

.token.keyword {
  color: #0099e5 !important;
}

.hide {
  display: none !important;
}
